<div class="chat-message-container">
    <div class="messages" #chatMessages >

        <ng-container >
			
            <div #message *ngFor="let message of messages" class="message-item" [class.self]="message.userId === currentUserId">
                <div class="message-text">
                    <div><b>{{message.userId === currentUserId ? 'you' : message.userName}}: </b> </div>
                    <div>{{message.text}}</div>
                    <div class="time-stamp">{{message.date | date:'medium'}}</div>
                </div>
            </div>
        </ng-container>
    
    </div>

    <div class="new-message-container">
        <input type="text" placeholder="new message (not implemented)">
    </div>

    <div class="spinner" *ngIf="isLoading">Loading...</div>
</div>
